@import url(http://fonts.googleapis.com/css?family=Lato:300,400,400italic);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent; }

html {
  font-size: 62.5%;
  min-height: 100%; }

input,
form,
select,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  border-radius: 0px;
  border: 0px;
  outline: none; }

button,
input[type=submit] {
  border: 0px; }

body {
  background-color: #c56aff;
  background-image: -webkit-linear-gradient(-130deg, #c56aff, #0389a3);
  background-image: linear-gradient(-140deg, #c56aff, #0389a3);
  background-size: cover;
  margin: 0;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 21px;
  font-family: 'Lato', sans-serif;
  padding: 40px 0 0 0; }
  body:after {
    content: '';
    display: block;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: url("/graphics/bg.png") repeat;
    opacity: 0.2;
    z-index: -1; }

h1 {
  font-weight: 100;
  font-size: 40px;
  font-size: 4rem;
  line-height: 52px;
  margin: 0;
  color: #472a93; }

h2 {
  font-weight: 100;
  font-size: 30px;
  font-size: 3rem;
  line-height: 39px;
  margin: 0;
  color: #472a93; }

h3 {
  font-weight: 100; }

h4 {
  font-weight: 100; }

h5 {
  font-weight: 100; }

p {
  color: #472a93; }

main {
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3); }
  main:after {
    content: "";
    display: table;
    clear: both; }

.inner,
.wrapper {
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 25px; }
  .inner:after,
  .wrapper:after {
    content: "";
    display: table;
    clear: both; }

.wrapper {
  padding: 0 0 0 25px; }

header {
  height: 500px;
  display: block;
  text-align: center;
  overflow: hidden;
  position: relative; }
  header .inner {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 100%; }
  header h1 {
    color: #fff;
    text-shadow: 0 2px 2px #6C35E8;
    width: 65%;
    margin: 30px auto; }

.info-third {
  width: 33.333%;
  float: left;
  text-align: center; }

.info-half {
  float: left;
  display: block;
  margin-right: 2.35765%;
  width: 48.82117%;
  float: left;
  padding: 0 25px; }
  .info-half:last-child {
    margin-right: 0; }
  .info-half h2 {
    margin-bottom: 10px; }

.info-full {
  width: 100%;
  float: left;
  text-align: center; }

.main-menu {
  background: #fff;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 40px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  line-height: 40px;
  padding: 0 25px;
  z-index: 10; }
  .main-menu li:first-child {
    font-weight: bold;
    padding: 0 15px 0 0;
    margin: 0 15px 0 0;
    border-right: 1px solid rgba(0, 0, 0, 0.07); }

.first,
.second,
.third {
  text-align: center;
  padding: 25px 0 50px 0; }

.first {
  background: #f5ffff;
  padding: 50px 0; }

.second {
  background: #eef7f7;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }
  .second h2 {
    margin-bottom: 25px; }
  .second a {
    text-decoration: underline; }

.third {
  background: #e8f1f1;
  border-top: 1px solid rgba(0, 0, 0, 0.07); }
  .third h2 {
    margin-bottom: 25px; }

li {
  list-style: none; }

nav li {
  float: left;
  margin: 0 10px 0 0; }

.features {
  height: 50px;
  width: 50px;
  margin: 0 auto 25px auto;
  background: url("../graphics/features.png") transparent 0 0 no-repeat;
  background: none, url("../graphics/features.svg") transparent 0 0 no-repeat; }

.reduce {
  height: 55px;
  width: 85px;
  margin: 0 auto 25px auto;
  background: url("../graphics/redunant.png") transparent 0 0 no-repeat;
  background: none, url("../graphics/redunant.svg") transparent 0 0 no-repeat; }

#logo {
  height: 115px;
  width: 115px;
  margin: 0 auto;
  opacity: 0.9; }
  #logo svg {
    width: 100%;
    height: 100%; }

a {
  color: #472a93;
  text-decoration: none; }
  a:hover, a.active {
    text-decoration: underline; }

.version {
  clear: both;
  display: block;
  color: #fff;
  margin: 5px 0; }

button {
  background: none;
  width: 250px;
  background: #88a4ff;
  height: 50px;
  box-shadow: 0 2px 0 #7678dc;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: all 0.3s 0s ease-in-out;
  -moz-transition: all 0.3s 0s ease-in-out;
  -ms-transition: all 0.3s 0s ease-in-out;
  -o-transition: all 0.3s 0s ease-in-out;
  transition: all 0.3s 0s ease-in-out;
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
  font-weight: bold; }
  button:hover {
    background: #7e9cff;
    box-shadow: none; }
  button:active {
    background: #7998ff;
    box-shadow: none; }
  button a {
    padding: 15px 0;
    color: #fff;
    font-size: 16px;
    font-size: 1.6rem;
    line-height: 24px;
    font-weight: bold;
    text-decoration: none; }
    button a:hover {
      text-decoration: none; }

.docu {
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  padding: 25px; }
  .docu button {
    margin: 0 auto;
    display: block; }

.documentation {
  width: 20%;
  float: left;
  padding: 0 25px 25px 25px; }
  .documentation h3 {
    color: #fff;
    margin: 10px 0 5px 0;
    font-weight: bold; }
  .documentation li {
    float: none;
    color: #fff;
    margin-left: 10px; }
  .documentation a {
    color: #fff; }
    .documentation a.active {
      text-decoration: underline; }

.examples {
  width: 100%;
  float: none;
  height: 250px;
  background: rgba(0, 0, 0, 0.05); }
  .examples #logo {
    margin: 65px auto; }

.wrapper-docu {
  overflow: hidden;
  float: none;
  background: transparent;
  box-shadow: none; }

.mountains {
  background: url(../graphics/mountains.png) repeat-x;
  height: 70px;
  width: 100%;
  margin: 25px 0 0 0;
  clear: both; }

table {
  width: 100% !important;
  display: table;
  text-align: left;
  color: #472a93;
  margin: 15px 0 20px 0;
  background: #f2f2f2; }
  table caption {
    text-align: left;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0; }
  table p {
    margin: 0; }
  table td {
    border-right: 1px solid #e5e5e5; }
    table td:last-child {
      border: 0; }
  table thead {
    border-bottom: 3px solid #e5e5e5; }
    table thead th {
      padding: 10px;
      color: #472a93;
      font-weight: 600; }
  table input[type=text] {
    width: 100%; }
  table tr {
    border-bottom: 1px solid #e5e5e5; }
    table tr.odd {
      background: #F7F7F7; }
    table tr th {
      padding: 10px;
      border-right: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5; }
  table td {
    padding: 15px 10px; }

.wrapper-button {
  background: #f2f2f2;
  padding: 10px;
  width: 100%;
  margin: 0 0 15px 0; }

code {
  font-size: 14px;
  background: #f2f2f2;
  width: 100%;
  display: block;
  padding: 10px;
  margin: 15px 0 20px 0; }

.swingy {
  width: 50px;
  margin: 13% auto;
  display: block;
  cursor: pointer; }
  .swingy .menu-icon, .swingy:before, .swingy:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    margin: 6px 0;
    width: 100%;
    border-radius: 4px;
    -webkit-transition: all 0.3s 0s ease-in-out;
    -moz-transition: all 0.3s 0s ease-in-out;
    -ms-transition: all 0.3s 0s ease-in-out;
    -o-transition: all 0.3s 0s ease-in-out;
    transition: all 0.3s 0s ease-in-out; }
  .open .swingy .menu-icon {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    opacity: 0; }
  .open .swingy:after {
    transform: translateY(-9px) rotate(225deg);
    -webkit-transform: translateY(-9px) rotate(225deg);
    -moz-transform: translateY(-9px) rotate(225deg); }
  .open .swingy:before {
    transform: translateY(9px) rotate(135deg);
    -webkit-transform: translateY(9px) rotate(135deg);
    -moz-transform: translateY(9px) rotate(135deg); }

.spinning {
  width: 50px;
  margin: 13% auto;
  display: block;
  cursor: pointer; }
  .spinning .menu-icon, .spinning:before, .spinning:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    margin: 6px 0;
    width: 100%;
    border-radius: 4px;
    opacity: 1; }
  .spinning:before, .spinning:after {
    -webkit-transition: all 1s 0s ease-in-out;
    -moz-transition: all 1s 0s ease-in-out;
    -ms-transition: all 1s 0s ease-in-out;
    -o-transition: all 1s 0s ease-in-out;
    transition: all 1s 0s ease-in-out; }
  .spinning .menu-icon {
    -webkit-transition: all 0.3s 0.7s ease-in-out;
    -moz-transition: all 0.3s 0.7s ease-in-out;
    -ms-transition: all 0.3s 0.7s ease-in-out;
    -o-transition: all 0.3s 0.7s ease-in-out;
    transition: all 0.3s 0.7s ease-in-out; }
  .open .spinning .menu-icon {
    opacity: 0;
    -webkit-transition: all 0.3s 0s ease-in-out;
    -moz-transition: all 0.3s 0s ease-in-out;
    -ms-transition: all 0.3s 0s ease-in-out;
    -o-transition: all 0.3s 0s ease-in-out;
    transition: all 0.3s 0s ease-in-out; }
  .open .spinning:after {
    transform: translateY(-9px) rotate(-500deg);
    -webkit-transform: translateY(-9px) rotate(-500deg);
    -moz-transform: translateY(-9px) rotate(-500deg); }
  .open .spinning:before {
    transform: translateY(9px) rotate(500deg);
    -webkit-transform: translateY(9px) rotate(500deg);
    -moz-transform: translateY(9px) rotate(500deg); }

.rotate {
  width: 50px;
  margin: 13% auto;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.3s 0s ease-in-out;
  -moz-transition: all 0.3s 0s ease-in-out;
  -ms-transition: all 0.3s 0s ease-in-out;
  -o-transition: all 0.3s 0s ease-in-out;
  transition: all 0.3s 0s ease-in-out; }
  .rotate .menu-icon, .rotate:before, .rotate:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    margin: 6px 0;
    width: 100%;
    border-radius: 4px; }
  .open .rotate {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg); }

.one-line {
  width: 50px;
  margin: 13% auto;
  display: block;
  cursor: pointer; }
  .one-line .menu-icon, .one-line:before, .one-line:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    margin: 6px 0;
    width: 100%;
    border-radius: 4px;
    -webkit-transition: all 0.3s 0s ease-in-out;
    -moz-transition: all 0.3s 0s ease-in-out;
    -ms-transition: all 0.3s 0s ease-in-out;
    -o-transition: all 0.3s 0s ease-in-out;
    transition: all 0.3s 0s ease-in-out; }
  .open .one-line:before {
    margin: 0px 0 -9px 0; }
  .open .one-line:after {
    margin: -9px 0 0 0; }

.indent-icon {
  width: 50px;
  margin: 13% auto;
  display: block;
  cursor: pointer; }
  .indent-icon .menu-icon, .indent-icon:before, .indent-icon:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    margin: 6px 0;
    width: 100%;
    border-radius: 4px;
    -webkit-transition: all 0.3s 0s ease-in-out;
    -moz-transition: all 0.3s 0s ease-in-out;
    -ms-transition: all 0.3s 0s ease-in-out;
    -o-transition: all 0.3s 0s ease-in-out;
    transition: all 0.3s 0s ease-in-out; }
  .open .indent-icon .menu-icon {
    width: 100%;
    border-radius: 100%; }
  .open .indent-icon .line, .open .indent-icon:after {
    width: 70%; }

.bush-icon {
  width: 50px;
  margin: 13% auto;
  display: block;
  cursor: pointer; }
  .bush-icon .menu-icon, .bush-icon:before, .bush-icon:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    margin: 6px 0;
    width: 100%;
    border-radius: 4px;
    -webkit-transition: all 0.3s 0s ease-in-out;
    -moz-transition: all 0.3s 0s ease-in-out;
    -ms-transition: all 0.3s 0s ease-in-out;
    -o-transition: all 0.3s 0s ease-in-out;
    transition: all 0.3s 0s ease-in-out;
    position: relative;
    bottom: 0px; }
  .open .bush-icon .menu-icon {
    -webkit-transform: rotate(90deg); }
  .open .bush-icon:before {
    -webkit-transform: rotate(60deg);
    position: relative;
    bottom: -9px; }
  .open .bush-icon:after {
    -webkit-transform: rotate(-60deg);
    position: relative;
    bottom: 9px; }

.arrow-left-icon {
  width: 50px;
  margin: 13% auto;
  display: block;
  cursor: pointer; }
  .arrow-left-icon .menu-icon, .arrow-left-icon:before, .arrow-left-icon:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    margin: 6px 0;
    width: 100%;
    border-radius: 4px;
    -webkit-transition: all 0.3s 0s ease-in-out;
    -moz-transition: all 0.3s 0s ease-in-out;
    -ms-transition: all 0.3s 0s ease-in-out;
    -o-transition: all 0.3s 0s ease-in-out;
    transition: all 0.3s 0s ease-in-out; }
  .open .arrow-left-icon .menu-icon {
    margin: 14px 9px; }
  .open .arrow-left-icon:before {
    -webkit-transform: rotate(-45deg); }
  .open .arrow-left-icon:after {
    -webkit-transform: rotate(45deg); }

.arrow-right-icon {
  width: 50px;
  margin: 13% auto;
  display: block;
  cursor: pointer; }
  .arrow-right-icon .menu-icon, .arrow-right-icon:before, .arrow-right-icon:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    margin: 6px 0;
    width: 100%;
    border-radius: 4px;
    -webkit-transition: all 0.3s 0s ease-in-out;
    -moz-transition: all 0.3s 0s ease-in-out;
    -ms-transition: all 0.3s 0s ease-in-out;
    -o-transition: all 0.3s 0s ease-in-out;
    transition: all 0.3s 0s ease-in-out; }
  .open .arrow-right-icon .menu-icon {
    margin: 14px -9px; }
  .open .arrow-right-icon:before {
    -webkit-transform: rotate(45deg); }
  .open .arrow-right-icon:after {
    -webkit-transform: rotate(-45deg); }

.arrow-bottom-icon {
  width: 50px;
  margin: 13% auto;
  display: block;
  cursor: pointer; }
  .arrow-bottom-icon .menu-icon, .arrow-bottom-icon:before, .arrow-bottom-icon:after {
    background: #fff;
    content: '';
    display: block;
    height: 3px;
    margin: 6px 0;
    width: 100%;
    border-radius: 4px;
    -webkit-transition: all 0.3s 0s ease-in-out;
    -moz-transition: all 0.3s 0s ease-in-out;
    -ms-transition: all 0.3s 0s ease-in-out;
    -o-transition: all 0.3s 0s ease-in-out;
    transition: all 0.3s 0s ease-in-out;
    position: relative;
    bottom: 0px; }
  .open .arrow-bottom-icon .menu-icon {
    -webkit-transform: rotate(90deg); }
  .open .arrow-bottom-icon:before {
    -webkit-transform: rotate(60deg);
    position: relative;
    bottom: -11px;
    left: -11px; }
  .open .arrow-bottom-icon:after {
    -webkit-transform: rotate(-60deg);
    position: relative;
    bottom: 11px;
    left: 11px; }

.circle-line {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-right: 2px solid rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid #ffffff;
  -webkit-animation: spin 1s 0s linear infinite normal;
  -moz-animation: spin 1s 0s linear infinite normal;
  -o-animation: spin 1s 0s linear infinite normal;
  animation: spin 1s 0s linear infinite normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  left: 50%;
  position: absolute;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px; }

.circle-fade {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-top: 3px solid rgba(255, 255, 255, 0.1);
  border-right: 3px solid rgba(255, 255, 255, 0.2);
  border-bottom: 3px solid rgba(255, 255, 255, 0.3);
  border-left: 3px solid rgba(255, 255, 255, 0.05);
  -webkit-animation: spin 1s 0s linear infinite normal;
  -moz-animation: spin 1s 0s linear infinite normal;
  -o-animation: spin 1s 0s linear infinite normal;
  animation: spin 1s 0s linear infinite normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  left: 50%;
  position: absolute;
  margin-left: -50px;
  top: 50%;
  margin-top: -50px; }

.active #logo {
  -webkit-animation: fade 0.3s 0s ease-in-out 1 normal;
  -moz-animation: fade 0.3s 0s ease-in-out 1 normal;
  -o-animation: fade 0.3s 0s ease-in-out 1 normal;
  animation: fade 0.3s 0s ease-in-out 1 normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.active #logo-2 {
  -webkit-animation: fade-in-up 0.3s 0s ease-in-out 1 normal;
  -moz-animation: fade-in-up 0.3s 0s ease-in-out 1 normal;
  -o-animation: fade-in-up 0.3s 0s ease-in-out 1 normal;
  animation: fade-in-up 0.3s 0s ease-in-out 1 normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.active #logo-3 {
  -webkit-animation: fade-in-down 0.3s 0s ease-in-out 1 normal;
  -moz-animation: fade-in-down 0.3s 0s ease-in-out 1 normal;
  -o-animation: fade-in-down 0.3s 0s ease-in-out 1 normal;
  animation: fade-in-down 0.3s 0s ease-in-out 1 normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.active #logo-4 {
  -webkit-animation: fade-in-right 0.3s 0s ease-in-out 1 normal;
  -moz-animation: fade-in-right 0.3s 0s ease-in-out 1 normal;
  -o-animation: fade-in-right 0.3s 0s ease-in-out 1 normal;
  animation: fade-in-right 0.3s 0s ease-in-out 1 normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.active #logo-5 {
  -webkit-animation: fade-in-left 0.3s 0s ease-in-out 1 normal;
  -moz-animation: fade-in-left 0.3s 0s ease-in-out 1 normal;
  -o-animation: fade-in-left 0.3s 0s ease-in-out 1 normal;
  animation: fade-in-left 0.3s 0s ease-in-out 1 normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.active #logo-6 {
  -webkit-animation: hanging 1.5s 0s ease-in-out infinite normal;
  -moz-animation: hanging 1.5s 0s ease-in-out infinite normal;
  -o-animation: hanging 1.5s 0s ease-in-out infinite normal;
  animation: hanging 1.5s 0s ease-in-out infinite normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.active #logo-7 {
  -webkit-animation: pulse 0.3s 0s ease-in-out infinite normal;
  -moz-animation: pulse 0.3s 0s ease-in-out infinite normal;
  -o-animation: pulse 0.3s 0s ease-in-out infinite normal;
  animation: pulse 0.3s 0s ease-in-out infinite normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.active #logo-8 {
  -webkit-animation: spin 1s 0s ease-in-out infinite normal;
  -moz-animation: spin 1s 0s ease-in-out infinite normal;
  -o-animation: spin 1s 0s ease-in-out infinite normal;
  animation: spin 1s 0s ease-in-out infinite normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.active #logo-9 {
  -webkit-animation: wiggle 0.3s 0s ease-in-out 1 normal;
  -moz-animation: wiggle 0.3s 0s ease-in-out 1 normal;
  -o-animation: wiggle 0.3s 0s ease-in-out 1 normal;
  animation: wiggle 0.3s 0s ease-in-out 1 normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.active #logo-10 {
  -webkit-animation: vanish 0.3s 0s ease-in-out 1 normal;
  -moz-animation: vanish 0.3s 0s ease-in-out 1 normal;
  -o-animation: vanish 0.3s 0s ease-in-out 1 normal;
  animation: vanish 0.3s 0s ease-in-out 1 normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.active #logo-11 {
  -webkit-animation: tada 0.3s 0s ease-in-out 1 normal;
  -moz-animation: tada 0.3s 0s ease-in-out 1 normal;
  -o-animation: tada 0.3s 0s ease-in-out 1 normal;
  animation: tada 0.3s 0s ease-in-out 1 normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.active #logo-12 {
  -webkit-animation: rubberBand 0.3s 0s ease-in-out 1 normal;
  -moz-animation: rubberBand 0.3s 0s ease-in-out 1 normal;
  -o-animation: rubberBand 0.3s 0s ease-in-out 1 normal;
  animation: rubberBand 0.3s 0s ease-in-out 1 normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.active #logo-13 {
  -webkit-animation: slide-in-left 0.3s 0s ease-in-out 1 normal;
  -moz-animation: slide-in-left 0.3s 0s ease-in-out 1 normal;
  -o-animation: slide-in-left 0.3s 0s ease-in-out 1 normal;
  animation: slide-in-left 0.3s 0s ease-in-out 1 normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.active #logo-14 {
  -webkit-animation: slide-in-right 0.3s 0s ease-in-out 1 normal;
  -moz-animation: slide-in-right 0.3s 0s ease-in-out 1 normal;
  -o-animation: slide-in-right 0.3s 0s ease-in-out 1 normal;
  animation: slide-in-right 0.3s 0s ease-in-out 1 normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.active #logo-15 {
  -webkit-animation: slide-in-top 0.3s 0s ease-in-out 1 normal;
  -moz-animation: slide-in-top 0.3s 0s ease-in-out 1 normal;
  -o-animation: slide-in-top 0.3s 0s ease-in-out 1 normal;
  animation: slide-in-top 0.3s 0s ease-in-out 1 normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

.active #logo-16 {
  -webkit-animation: slide-in-bottom 0.3s 0s ease-in-out 1 normal;
  -moz-animation: slide-in-bottom 0.3s 0s ease-in-out 1 normal;
  -o-animation: slide-in-bottom 0.3s 0s ease-in-out 1 normal;
  animation: slide-in-bottom 0.3s 0s ease-in-out 1 normal;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }
@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }
@-moz-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 100; } }
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1); }
  50% {
    -webkit-transform: scale(1.1); }
  100% {
    -webkit-transform: scale(1); } }
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1); }
  50% {
    -moz-transform: scale(1.1); }
  100% {
    -moz-transform: scale(1); } }
@keyframes pulse {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); }
  100% {
    transform: scale(1); } }
@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale(1); }
  10%, 20% {
    -webkit-transform: scale(0.9) rotate(-3deg); }
  30%, 50%, 70%, 90% {
    -webkit-transform: scale(1.1) rotate(3deg); }
  40%, 60%, 80% {
    -webkit-transform: scale(1.1) rotate(-3deg); }
  100% {
    -webkit-transform: scale(1) rotate(0); } }
@-moz-keyframes tada {
  0% {
    -moz-transform: scale(1); }
  10%, 20% {
    -moz-transform: scale(0.9) rotate(-3deg); }
  30%, 50%, 70%, 90% {
    -moz-transform: scale(1.1) rotate(3deg); }
  40%, 60%, 80% {
    -moz-transform: scale(1.1) rotate(-3deg); }
  100% {
    -moz-transform: scale(1) rotate(0); } }
@keyframes tada {
  0% {
    transform: scale(1); }
  10%, 20% {
    transform: scale(0.9) rotate(-3deg); }
  30%, 50%, 70%, 90% {
    transform: scale(1.1) rotate(3deg); }
  40%, 60%, 80% {
    transform: scale(1.1) rotate(-3deg); }
  100% {
    transform: scale(1) rotate(0); } }
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: skewX(9deg); }
  10% {
    -webkit-transform: skewX(-8deg); }
  20% {
    -webkit-transform: skewX(7deg); }
  30% {
    -webkit-transform: skewX(-6deg); }
  40% {
    -webkit-transform: skewX(5deg); }
  50% {
    -webkit-transform: skewX(-4deg); }
  60% {
    -webkit-transform: skewX(3deg); }
  70% {
    -webkit-transform: skewX(-2deg); }
  80% {
    -webkit-transform: skewX(1deg); }
  90% {
    -webkit-transform: skewX(0deg); }
  100% {
    -webkit-transform: skewX(0deg); } }
@-moz-keyframes wiggle {
  0% {
    -moz-transform: skewX(9deg); }
  10% {
    -moz-transform: skewX(-8deg); }
  20% {
    -moz-transform: skewX(7deg); }
  30% {
    -moz-transform: skewX(-6deg); }
  40% {
    -moz-transform: skewX(5deg); }
  50% {
    -moz-transform: skewX(-4deg); }
  60% {
    -moz-transform: skewX(3deg); }
  70% {
    -moz-transform: skewX(-2deg); }
  80% {
    -moz-transform: skewX(1deg); }
  90% {
    -moz-transform: skewX(0deg); }
  100% {
    -moz-transform: skewX(0deg); } }
@keyframes wiggle {
  0% {
    transform: skewX(9deg); }
  10% {
    transform: skewX(-8deg); }
  20% {
    transform: skewX(7deg); }
  30% {
    transform: skewX(-6deg); }
  40% {
    transform: skewX(5deg); }
  50% {
    transform: skewX(-4deg); }
  60% {
    transform: skewX(3deg); }
  70% {
    transform: skewX(-2deg); }
  80% {
    transform: skewX(1deg); }
  90% {
    transform: skewX(0deg); }
  100% {
    transform: skewX(0deg); } }
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100%); }
  100% {
    -webkit-transform: translateX(0%); } }
@-moz-keyframes slide-in-left {
  0% {
    -moz-transform: translateX(-100%); }
  100% {
    -moz-transform: translateX(0%); } }
@keyframes slide-in-left {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0%); } }
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100%); }
  100% {
    -webkit-transform: translateX(0%); } }
@-moz-keyframes slide-in-right {
  0% {
    -moz-transform: translateX(100%); }
  100% {
    -moz-transform: translateX(0%); } }
@keyframes slide-in-right {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0%); } }
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-100%); }
  100% {
    -webkit-transform: translateY(0%); } }
@-moz-keyframes slide-in-top {
  0% {
    -moz-transform: translateY(-100%); }
  100% {
    -moz-transform: translateY(0%); } }
@keyframes slide-in-top {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateY(0%); } }
@-webkit-keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(100%); }
  100% {
    -webkit-transform: translateY(0%); } }
@-moz-keyframes slide-in-bottom {
  0% {
    -moz-transform: translateY(100%); }
  100% {
    -moz-transform: translateY(0%); } }
@keyframes slide-in-bottom {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateY(0%); } }
@-webkit-keyframes rubberBand {
  0% {
    -webkit-transform: scale3d(1, 1, 1); }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1); }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1); }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1); }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1); }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1); }
  100% {
    -webkit-transform: scale3d(1, 1, 1); } }
@-moz-keyframes rubberBand {
  0% {
    -moz-transform: scale3d(1, 1, 1); }
  30% {
    -moz-transform: scale3d(1.25, 0.75, 1); }
  40% {
    -moz-transform: scale3d(0.75, 1.25, 1); }
  50% {
    -moz-transform: scale3d(1.15, 0.85, 1); }
  65% {
    -moz-transform: scale3d(0.95, 1.05, 1); }
  75% {
    -moz-transform: scale3d(1.05, 0.95, 1); }
  100% {
    -moz-transform: scale3d(1, 1, 1); } }
@keyframes rubberBand {
  0% {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  100% {
    transform: scale3d(1, 1, 1); } }
@-webkit-keyframes fade-in-up {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }
@-moz-keyframes fade-in-up {
  0% {
    opacity: 0;
    -moz-transform: translateY(-200px); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }
@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(-200px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@-webkit-keyframes fade-in-down {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0); } }
@-moz-keyframes fade-in-down {
  0% {
    opacity: 0;
    -moz-transform: translateY(200px); }
  100% {
    opacity: 1;
    -moz-transform: translateY(0); } }
@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translateY(200px); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
@-webkit-keyframes fade-in-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }
@-moz-keyframes fade-in-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-200px); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0); } }
@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-200px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes fade-in-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(200px); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0); } }
@-moz-keyframes fade-in-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(200px); }
  100% {
    opacity: 1;
    -moz-transform: translateX(0); } }
@keyframes fade-in-right {
  0% {
    opacity: 0;
    transform: translateX(200px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@-moz-keyframes spin {
  0% {
    -moz-transform: rotate(0deg); }
  100% {
    -moz-transform: rotate(360deg); } }
@-o-keyframes spin {
  0% {
    -o-transform: rotate(0deg); }
  100% {
    -o-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
@-moz-keyframes vanish {
  0% {
    opacity: 0;
    -moz-transform-origin: 50% 50%;
    -moz-transform: scale(2, 2);
    -webkit-filter: blur(90px); }
  100% {
    opacity: 1;
    -moz-transform-origin: 50% 50%;
    -moz-transform: scale(1, 1);
    -webkit-filter: blur(0px); } }
@-webkit-keyframes vanish {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(2, 2);
    -webkit-filter: blur(90px); }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    -webkit-filter: blur(0px); } }
@keyframes vanish {
  0% {
    opacity: 0;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(2, 2);
    -webkit-filter: blur(90px); }
  100% {
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: scale(1, 1);
    -webkit-filter: blur(0px); } }
@-webkit-keyframes hanging {
  0% {
    -webkit-transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(8%); }
  100% {
    -webkit-transform: translateY(0%); } }
@-moz-keyframes hanging {
  0% {
    -moz-transform: translateY(0%); }
  50% {
    -moz-transform: translateY(8%); }
  100% {
    -moz-transform: translateY(0%); } }
@keyframes hanging {
  0% {
    transform: translateY(0%); }
  50% {
    transform: translateY(8%); }
  100% {
    transform: translateY(0%); } }
