// Our grid variables
$column: golden-ratio(20px, 3);
$gutter: golden-ratio(20px, 1);
$max-width: 1180px;

// Base font-size and line-height
$base-font-size: 1.6;
$base-line-height: 1.5;

$light: #fff;
$light-hr: #f2f2f2;
$dark: #472a93;
$button: #88a4ff;

$section-1: #f5ffff;
$section-2: #eef7f7;
$section-3: #e8f1f1;

