// Import Bourbon mixin lib
@import "../assets/bourbon/dist/bourbon";

// Import our variables, mixins & helpers
@import "variables", "mixins", "helpers";

@import "stratagem";

// Neat should be imported after variable, reset and mixin declaration.
// Otherwise neat overrides our variables.
@import "../assets/neat/app/assets/stylesheets/neat";

// General resets
// Remove subpixels from webkit browsers and FF
// Remove tap highlight color for webkit touch browsers.
* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

// Set HTML to 62.5% to make it easier setting REM/EM values
// Now it calculates from 10 instead of regular 16.
// Example 1rem = 10px
html {
  font-size: 62.5%;
  min-height: 100%;
}

// Remove subpixels from webkit browsers and FF
// Remove webkit standard input, form, select & button styling on smartdevices
input,
form,
select,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-appearance: none;
  border-radius: 0px;
  border: 0px;
  outline: none;
}

// Remove standard border on button & input on smart devices
button,
input[type=submit] {
  border: 0px;
}

body {
  @include linear-gradient(-140deg, #c56aff, #0389a3);
  background-size: cover;
  color: #fff;
  font-family: 'Lato', sans-serif;
  margin: 0px;
  @include font-size();
}

a {
  color: #fff;
  text-decoration: underline;
}

main {
  @include outer-container();
}

header {
  text-align: center;
}

span {
  font-weight: bold;
  cursor: pointer;
}

.side-note {
  margin: 10px 0 0 0;
  opacity: 0;

  .go & {
    @include fade($delay: 0.3s);
  }
}

h1 {
  @include font-size(4.2);
  text-transform: uppercase;
  margin: 0px;
  text-shadow: 0px 2px 1px #4F36C3;
  letter-spacing: 1px;
  margin-bottom: 5px;

  .go & {
    @include fadeInLeft($direction: reverse);
  }
}

h2 {
  @include font-size(2.4);
  text-transform: uppercase;
  margin: 0px;
  text-shadow: 0px 2px 1px #4F36C3;
  letter-spacing: 0.7px;

  .go & {
    @include fadeInRight($direction: reverse);
  }
}

p {
  margin: 0px;
  @include font-size();
}

a {
  text-decoration: none;
  @include font-size();

  &:hover {
    border-bottom: 1px solid rgba(255,255,255,0.4);
  }
}

#logo {
  @include svg-bg(logo);
  width: 200px;
  height: 200px;
  margin: 25px auto 45px auto;

  .go & {
    margin-bottom: 0px;
  }
}

header {
  margin: 65px auto;
  width: 705px;
  overflow: hidden;

  h2 {
    margin-bottom: 15px;
  }
}

select {
  width: 150px;
  padding: 7px 10px;
  border-radius: 5px;
  @include font-size();
  color: #fff;
  font-weight: bold;
  @include svg-bg(arrow-down);
  background-color: rgba(255,255,255,0.3);
  background-position: 90% 17px;
  opacity: 0;
  @include animate();

  .go & {
    @include pulse(0.6s, $delay: 0.5s, $iteration-count: 1);
    opacity: 1;
  }
}

nav {
  list-style: none;
  @include font-size();
  padding: 15px 0 0 0;
  overflow: hidden;
  border-top: 1px solid rgba(255,255,255,0.4);
  margin-top: -45px;
  z-index: 10;
  position: relative;

  .go & {
    margin-top: 20px;
  }

  li {
    float: left;
    margin: 0 15px 0 0;
    cursor: pointer;
    
    &:last-child {
      margin: 0px;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  height: 45px;
  background: rgba(0,0,0,0.1);
  text-align: right;
  left: 0;
  right: 0;
  padding: 10px 25px;
}

#logo.fade {
  @include fade(0.5s);
}

#logo.fadeInTop {
  @include fadeInTop(0.5s);
}

#logo.fadeInBottom {
  @include fadeInBottom(0.5s);
}

#logo.fadeInLeft {
  @include fadeInLeft(0.5s);
}

#logo.fadeInRight {
  @include fadeInRight(0.5s);
}

#logo.pulse {
  @include pulse(0.5s);
}

#logo.rubberBand {
  @include rubberBand(0.5s);
}

#logo.rubberBand {
  @include rubberBand(0.5s);
}

#logo.slideInLeft {
  @include slideInLeft(0.5s);
}

#logo.slideInRight {
  @include slideInRight(0.5s);
}

#logo.slideInTop {
  @include slideInTop(0.5s);
}

#logo.slideInBottom {
  @include slideInBottom(0.5s);
}

#logo.spin {
  @include spin(0.5s);
}

#logo.tada {
  @include tada(0.5s);
}

#logo.vanish {
  @include vanish(0.5s);
}

#logo.wiggle {
  @include wiggle(0.5s);
}

@import "stratagem-two";
