$growModal: () !global;

@mixin growModal($transition-time: 0.4s, $transition-time-close: 0.3s, $delay: 0s, $timing: $easeInOut, $iteration-count: 1, $direction: normal, $modal-bg: rgba(0,0,0,0.3), $openClass: '.open', $closeClass: '.close') {

  // When modal is active
  #{$openClass} & {
    @include animation(growModal, $transition-time, $delay, $timing, $iteration-count, $direction);
    z-index: 1;
  }

  // Close state
  #{$closeClass}  & {
    @include animation(growModalReverse, $transition-time-close, $delay, $timing, $iteration-count, $direction: normal);
  }

  $growModal: append($growModal, true) !global;
}

@mixin growModalKey() {

  @if length($growModal) >= 1 {

    @keyframes growModal {
      0% {
        transform-style: preserve-3d;
        transform: rotateY(-70deg);
        opacity: 0;
      }
      100% {
        transform: rotateY(0deg);
        opacity: 1;
        visibility: visible;
      }
    }

    @-webkit-keyframes growModal {
      0% {
        -webkit-transform-style: preserve-3d;
        -webkit-transform: rotateY(-70deg);
        opacity: 0;
      }
      100% {
        -webkit-transform: rotateY(0deg);
        opacity: 1;
        visibility: visible;
      }
    }

    @-moz-keyframes growModal {
      0% {
        -moz-transform-style: preserve-3d;
        -moz-transform: rotateY(-70deg);
        opacity: 0;
      }
      100% {
        -moz-transform: rotateY(0deg);
        opacity: 1;
        visibility: visible;
      }
    }

    @keyframes growModalReverse {
      0% {
        transform-style: preserve-3d;
        transform: rotateY(-70deg);
        opacity: 0;
      }
      100% {
        transform: rotateY(0deg);
        opacity: 1;
        visibility: visible;
      }
    }

    @-webkit-keyframes growModalReverse {
      0% {
        -webkit-transform: rotateY(0deg);
        opacity: 1;
        visibility: visible;
      }
      100% {
        -webkit-transform-style: preserve-3d;
        -webkit-transform: rotateY(-70deg);
        opacity: 0;
      }
    }

    @-moz-keyframes growModalReverse {
      0% {
        -moz-transform: rotateY(0deg);
        opacity: 1;
        visibility: visible;
      }
      100% {
        -moz-transform-style: preserve-3d;
        -moz-transform: rotateY(-70deg);
        opacity: 0;
      }
    }
  }
}
