@mixin overline-from-left-button($active-color: #333) {
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	position: relative;
	overflow: hidden;

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		left: 0;
		right: 100%;
		top: 0;
		background: $active-color;
		height: 4px;
		transition-property: "right";
		transition-duration: .3s;
		transition-timing-function: ease-out;
	}

	&:hover,
	&:focus,
	&:active {

		&:before {
			right: 0;
		}
	}
}
