@mixin underline-from-right-button($active-color: #333, $border-height: 4px) {
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	position: relative;
	overflow: hidden;

	&:before {
		content: '';
		position: absolute;
		z-index: -1;
		right: 0;
		left: 100%;
		bottom: 0;
		background: $active-color;
		height: $border-height;
		transition-property: left;
		transition-duration: .3s;
		transition-timing-function: ease-out;
	}

	&:hover,
	&:focus,
	&:active {

		&:before {
			left: 0;
		}
	}
}
