@mixin circleLineLoader($transition-time: 1s, $delay: 0s, $timing: linear, $iteration-count: infinite, $direction: normal, $modal-bg: rgba(0,0,0,0.3)) {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-top: 2px solid rgba(255, 255, 255, 0.3);
  border-right: 2px solid rgba(255, 255, 255, 0.3);
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  border-left: 2px solid #ffffff;
  @include spin($transition-time, $delay, $timing, $iteration-count, $direction);
}
