// hatchSelector
$hangingSelector: () !global;

@mixin hanging($transition-time: 1.5s, $delay: 0s, $timing: $easeInOut, $iteration-count: infinite, $direction: normal) {
  @include animationKeyframe(hanging, $transition-time, $delay, $timing, $iteration-count, $direction);
  $hangingSelector: append($hangingSelector, true) !global;
}

@mixin hangKey() {

  @if length($hangingSelector) >= 1 {

   @-webkit-keyframes hanging {
      0% {
        -webkit-transform: translateY(0%);
      }
      50% {
        -webkit-transform: translateY(8%);
      }
      100% {
       -webkit-transform: translateY(0%);
      }
    }

    @-moz-keyframes hanging {
      0% {
        -moz-transform: translateY(0%);
      }
      50% {
        -moz-transform: translateY(8%);
      }
      100% {
       -moz-transform: translateY(0%);
      }
    }

    @keyframes hanging {
      0% {
        transform: translateY(0%);
      }
      50% {
        transform: translateY(8%);
      }
      100% {
       transform: translateY(0%);
      }
    }
  }
}
