@mixin vanishKey{
  @at-root (without: all) {
    @-moz-keyframes vanish {
      0% {
        opacity: 0;
        -moz-transform-origin: 50% 50%;
        -moz-transform: scale(2, 2);
        -webkit-filter: blur(90px);
      }

      100% {
        opacity: 1;
        -moz-transform-origin: 50% 50%;
        -moz-transform: scale(1, 1);
        -webkit-filter: blur(0px);
      }
    }
    @-webkit-keyframes vanish {
      0% {
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
        -webkit-transform: scale(2, 2);
        -webkit-filter: blur(90px);
      }

      100% {
        opacity: 1;
        -webkit-transform-origin: 50% 50%;
        -webkit-transform: scale(1, 1);
        -webkit-filter: blur(0px);
      }
    }

    @-o-keyframes vanish {
      0% {
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
        -webkit-transform: scale(2, 2);
        -webkit-filter: blur(90px);
      }

      100% {
        opacity: 1;
        -webkit-transform-origin: 50% 50%;
        -webkit-transform: scale(1, 1);
        -webkit-filter: blur(0px);
      }
    }

    @keyframes vanish {
      0% {
        opacity: 0;
        -webkit-transform-origin: 50% 50%;
        -webkit-transform: scale(2, 2);
        -webkit-filter: blur(90px);
      }

      100% {
        opacity: 1;
        -webkit-transform-origin: 50% 50%;
        -webkit-transform: scale(1, 1);
        -webkit-filter: blur(0px);
      }
    }
  }
}

@mixin vanish($transition-time: 0.3s, $delay: 0s, $timing: $easeInOut, $iteration-count: 1, $direction: normal) {
  @include vanishKey();
  @include animation(vanish, $transition-time, $delay, $timing, $iteration-count, $direction);
}

