@mixin bubble-left-button($tip-width: 5px, $tip-height: 5px, $tip-color: #333) {
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	position: relative;

	&:before {
		pointer-events: none;
		position: absolute;
		z-index: -1;
		content: '';
		border-style: solid;
		transition-duration: .3s;
		transition-property: transform;
		top: calc(50% - #{$tip-height});
		left: 0;
		border-width: $tip-height $tip-width $tip-height 0;
		border-color: transparent $tip-color transparent transparent;
	}

	&:hover:before,
	&:focus:before,
	&:active:before {
		transform: translateX(-($tip-width));
	}
}
