@mixin arrowBottomIcon($transition-time: 0.3s, $delay: 0s, $timing: $easeInOut, $iteration-count: 1, $direction: normal, $openClass: '.open', $color: #fff) {
  cursor: pointer;

  .menu-icon,
  &:before,
  &:after  {
    background: $color;
    content:'';
    display:block;
    height:3px;
    margin:6px 0;
    width:100%;
    border-radius: 4px;
    @include animate();
    position: relative;
    bottom: 0px
  }

  #{$openClass} & {

    .menu-icon {
      -webkit-transform: rotate(90deg);
    }

    &:before {
      -webkit-transform: rotate(60deg);
      position: relative;
      bottom: -11px;
      left: -11px;
    }

    &:after {
      -webkit-transform: rotate(-60deg);
      position: relative;
      bottom: 11px;
      left: 11px;
    }
  }
}
