@mixin wobble-skew-anim {
	16.65% {
		transform: skew(-12deg);
	}

	33.3% {
		transform: skew(10deg);
	}

	49.95% {
		transform: skew(-6deg);
	}

	66.6% {
		transform: skew(4deg);
	}

	83.25% {
		transform: skew(-2deg);
	}

	100% {
		transform: skew(0);
	}
}

@mixin wobble-skew-button {
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);

	&:hover,
	&:focus,
	&:active {
		@include animation('wobble-skew-anim');
		animation-duration: 1s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: 1;
	}
}
