$blurModal: () !global;

@mixin blurModal($transition-time: .4s, $transition-time-close: .3s, $delay: 0s, $timing: $easeInOut, $iteration-count: 1, $direction: normal, $wrapper: 'main', $openClass: '.open', $closeClass: '.close') {

  // When modal is active
  #{$openClass} & {
    @include animation(blurModal, $transition-time, $delay, $timing, $iteration-count, $direction);
    z-index: 1;
  }

  // Overlay
  @at-root {

    #{$openClass} #{$wrapper} {
      -webkit-filter: blur(5px);
      filter: blur(5px);
    }
  }

  // Close state
  #{$closeClass}  & {
    @include animation(blurModalReverse, $transition-time-close, $delay, $timing, $iteration-count, $direction: normal);
  }

  $blurModal: append($blurModal, true) !global;
}

@mixin blurModalKey() {

  @if length($blurModal) >= 1 {

    @keyframes blurModal {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
        visibility: visible;
      }
    }

    @-webkit-keyframes blurModal {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
        visibility: visible;
      }
    }

    @-moz-keyframes blurModal {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
        visibility: visible;
      }
    }

    @keyframes blurModalReverse {
      0% {
        opacity: 1;
        visibility: visible;
      }
      100% {
        opacity: 0;
      }
    }

    @-webkit-keyframes blurModalReverse {
      0% {
        opacity: 1;
        visibility: visible;
      }
      100% {
        opacity: 0;
      }
    }

    @-moz-keyframes blurModalReverse {
      0% {
        opacity: 1;
        visibility: visible;
      }
      100% {
        opacity: 0;
      }
    }
  }
}
