$fadeModal: () !global;

@mixin fadeModal($transition-time: 0.4s, $transition-time-close: 0.3s, $delay: 0s, $timing: $easeInOut, $iteration-count: 1, $direction: normal, $modal-bg: rgba(0,0,0,0.3), $wrapper: 'main', $openClass: '.open', $closeClass: '.close') {
  opacity: 0;

  // Overlay
  @at-root {

    #{$openClass} {

      &:after {
        content: "";
        background: $modal-bg;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
        @include fade($transition-time);
      }
    }
  }

  // When modal is active
  #{$openClass} & {
    @include fade($transition-time-close, $delay, $timing, $iteration-count, $direction: normal);
    z-index: 1;
    visibility: visible;
  }

  // Close state
  #{$closeClass}  & {
    z-index: 1;
    opacity: 0;
    @include animation(fadeReverse, $transition-time-close, $delay, $timing, $iteration-count, $direction: normal);
  }

  $fadeModal: append($fadeModal, true) !global;
}

@mixin fadeModalKey() {

  @if length($fadeModal) >= 1 {

    @keyframes fadeReverse {
      0% {
        opacity: 100;
      }
      100% {
        opacity: 0;
      }
    }

    @-webkit-keyframes fadeReverse {
      0% {
        opacity: 100;
      }
      100% {
        opacity: 0;
      }
    }

    @-moz-keyframes fadeReverse {
      0% {
        opacity: 100;
      }
      100% {
        opacity: 0;
      }
    }
  }
}
