$slideInRightModal: () !global;

@mixin slideInRightModal($transition-time: 0.4s, $transition-time-close: 0.3s, $delay: 0s, $timing: $easeInOut, $iteration-count: 1, $direction: normal, $modal-bg: rgba(0,0,0,0.3), $openClass: '.open', $closeClass: '.close') {

  // When modal is active
  #{$openClass} & {
    @include animation(slideInRightModal, $transition-time, $delay, $timing, $iteration-count, $direction);
    z-index: 1;
  }

  // Overlay
  @at-root {

    #{$openClass} {

      &:after {
        content: "";
        background: $modal-bg;
        position: absolute;
        left: 0;
        right: 0;
        top: 0px;
        bottom: 0;
        z-index: 0;
        @include fade();
      }
    }
  }

  // Close state
  #{$closeClass}  & {
    @include animation(slideInRightModalReverse, $transition-time-close, $delay, $timing, $iteration-count, $direction: normal);
  }

  $slideInRightModal: append($slideInRightModal, true) !global;
}

@mixin slideInRightModalKey() {

  @if length($slideInRightModal) >= 1 {

    @keyframes slideInRightModal {
      0% {
        transform: translateX(25%);
        opacity: 0;
      }
      100% {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
      }
    }

    @-webkit-keyframes slideInRightModal {
      0% {
        -webkit-transform: translateX(25%);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateX(0%);
        opacity: 1;
        visibility: visible;
      }
    }

    @-moz-keyframes slideInRightModal {
      0% {
        -moz-transform: translateX(25%);
        opacity: 0;
      }
      100% {
        -moz-transform: translateX(0%);
        opacity: 1;
        visibility: visible;
      }
    }

    @keyframes slideInRightModalReverse {
      0% {
        transform: translateX(0%);
        opacity: 1;
        visibility: visible;
      }
      100% {
        transform: translateX(15%);
        opacity: 0;
      }
    }

    @-webkit-keyframes slideInRightModalReverse {
      0% {
        -webkit-transform: translateX(0%);
        opacity: 1;
        visibility: visible;
      }
      100% {
        -webkit-transform: translateX(15%);
        opacity: 0;
      }
    }

    @-moz-keyframes slideInRightModalReverse {
      0% {
        -moz-transform: translateX(0%);
        opacity: 1;
        visibility: visible;
      }
      100% {
        -moz-transform: translateX(15%);
        opacity: 0;
      }
    }
  }
}
