$slideInTopModal: () !global;

@mixin slideInTopModal($transition-time: 0.4s, $transition-time-close: 0.3s, $delay: 0s, $timing: $easeInOut, $iteration-count: 1, $direction: normal, $modal-bg: rgba(0,0,0,0.3), $openClass: '.open', $closeClass: '.close') {

  // When modal is active
  #{$openClass} & {
    @include animation(slideInTopModal, $transition-time, $delay, $timing, $iteration-count, $direction);
    z-index: 1;
  }

  // Overlay
  @at-root {

    #{$openClass} {

      &:after {
        content: "";
        background: $modal-bg;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
        @include fade($transition-time);
      }
    }
  }

  // Close state
  #{$closeClass}  & {
    @include animation(slideInTopModalReverse, $transition-time-close, $delay, $timing, $iteration-count, $direction: normal);
  }

  $slideInTopModal: append($slideInTopModal, true) !global;
}

@mixin slideInTopModalKey() {

  @if length($slideInTopModal) >= 1 {

    @keyframes slideInTopModal {
      0% {
        transform: translateY(-25%);
        opacity: 0;
      }
      100% {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
      }
    }

    @-webkit-keyframes slideInTopModal {
      0% {
        -webkit-transform: translateY(-25%);
        opacity: 0;
      }
      100% {
        -webkit-transform: translateY(0%);
        opacity: 1;
        visibility: visible;
      }
    }

    @-moz-keyframes slideInTopModal {
      0% {
        -moz-transform: translateY(-25%);
        opacity: 0;
      }
      100% {
        -moz-transform: translateY(0%);
        opacity: 1;
        visibility: visible;
      }
    }

    @keyframes slideInTopModalReverse {
      0% {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
      }
      100% {
        transform: translateY(-15%);
        opacity: 0;
      }
    }

    @-webkit-keyframes slideInTopModalReverse {
      0% {
        -webkit-transform: translateY(0%);
        opacity: 1;
        visibility: visible;
      }
      100% {
        -webkit-transform: translateY(-15%);
        opacity: 0;
      }
    }

    @-moz-keyframes slideInTopModalReverse {
      0% {
        -moz-transform: translateY(0%);
        opacity: 1;
        visibility: visible;
      }
      100% {
        -moz-transform: translateY(-15%);
        opacity: 0;
      }
    }
  }
}
