$fadeSelector: () !global;

@mixin fade($transition-time: 0.3s, $delay: 0s, $timing: $easeInOut, $iteration-count: 1, $direction: normal) {
  @include animation(fade, $transition-time, $delay, $timing, $iteration-count, $direction);
  $fadeSelector: append($fadeSelector, true) !global;
}

@mixin fadeKey() {

  @if length($fadeSelector) >= 1 {

    @keyframes fade {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 100;
      }
    }

    @-webkit-keyframes fade {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 100;
      }
    }

    @-moz-keyframes fade {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 100;
      }
    }
  }
}

// Fade in Top
$fadeInTopSelector: () !global;

@mixin fadeInTop($transition-time: 0.3s, $delay: 0s, $timing: $easeInOut, $iteration-count: 1, $direction: normal) {
  @include animation(fade-in-up, $transition-time, $delay, $timing, $iteration-count, $direction);
  $fadeInTopSelector: append($fadeInTopSelector, true) !global;
}

// Copyright https://github.com/daneden/animate.css
@mixin fadeInTopKey() {

  @if length($fadeInTopSelector) >= 1 {

    @-webkit-keyframes fade-in-up {
      0% {
        opacity: 0;
        -webkit-transform: translateY(-200px);
      }

      100% {
        opacity: 1;
        -webkit-transform: translateY(0);
      }
    }

    @-moz-keyframes fade-in-up {
      0% {
        opacity: 0;
        -moz-transform: translateY(-200px);
      }

      100% {
        opacity: 1;
        -moz-transform: translateY(0);
      }
    }

    @keyframes fade-in-up {
      0% {
        opacity: 0;
        transform: translateY(-200px);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

// Fade in Bottom
$fadeInBottomSelector: () !global;

@mixin fadeInBottom($transition-time: 0.3s, $delay: 0s, $timing: $easeInOut, $iteration-count: 1, $direction: normal) {
  @include animation(fade-in-down, $transition-time, $delay, $timing, $iteration-count, $direction);
  $fadeInBottomSelector: append($fadeInBottomSelector, true) !global;
}

// Copyright https://github.com/daneden/animate.css
@mixin fadeInBottomKey() {

  @if length($fadeInBottomSelector) >= 1 {

   @-webkit-keyframes fade-in-down {
      0% {
        opacity: 0;
        -webkit-transform: translateY(200px);
      }

      100% {
        opacity: 1;
        -webkit-transform: translateY(0);
      }
    }

    @-moz-keyframes fade-in-down {
      0% {
        opacity: 0;
        -moz-transform: translateY(200px);
      }

      100% {
        opacity: 1;
        -moz-transform: translateY(0);
      }
    }

    @keyframes fade-in-down {
      0% {
        opacity: 0;
        transform: translateY(200px);
      }

      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}

// Fade in Left
$fadeInLeftSelector: () !global;

@mixin fadeInLeft($transition-time: 0.3s, $delay: 0s, $timing: $easeInOut, $iteration-count: 1, $direction: normal) {
  @include animation(fade-in-left, $transition-time, $delay, $timing, $iteration-count, $direction);
  $fadeInLeftSelector: append($fadeInLeftSelector, true) !global;
}

// Copyright https://github.com/daneden/animate.css
@mixin fadeInLeftKey() {

  @if length($fadeInLeftSelector) >= 1 {

    @-webkit-keyframes fade-in-left {
      0% {
        opacity: 0;
        -webkit-transform: translateX(-200px);
      }

      100% {
        opacity: 1;
        -webkit-transform: translateX(0);
      }
    }

    @-moz-keyframes fade-in-left {
      0% {
        opacity: 0;
        -moz-transform: translateX(-200px);
      }

      100% {
        opacity: 1;
        -moz-transform: translateX(0);
      }
    }

    @keyframes fade-in-left {
      0% {
        opacity: 0;
        transform: translateX(-200px);
      }

      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}

// Fade in right
$fadeInRightSelector: () !global;

@mixin fadeInRight($transition-time: 0.3s, $delay: 0s, $timing: $easeInOut, $iteration-count: 1, $direction: normal) {
  @include animation(fade-in-right, $transition-time, $delay, $timing, $iteration-count, $direction);
  $fadeInRightSelector: append($fadeInRightSelector, true) !global;
}

// Copyright https://github.com/daneden/animate.css
@mixin fadeInRightKey() {

  @if length($fadeInRightSelector) >= 1 {

    @-webkit-keyframes fade-in-right {
      0% {
        opacity: 0;
        -webkit-transform: translateX(200px);
      }

      100% {
        opacity: 1;
        -webkit-transform: translateX(0);
      }
    }

    @-moz-keyframes fade-in-right {
      0% {
        opacity: 0;
        -moz-transform: translateX(200px);
      }

      100% {
        opacity: 1;
        -moz-transform: translateX(0);
      }
    }

    @keyframes fade-in-right {
      0% {
        opacity: 0;
        transform: translateX(200px);
      }

      100% {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }
}
