.footer {
  background-image: url('/graphics/bg.jpg');
  background-size: cover;
  margin-top: 50px;
  color: $light;
}

.footer-inner {
  @include outer-container();
  height: 50px;

  @include media($breakpoint-small) {
    margin-top: 25px;
    padding: 0 15px;
  }

  p {
    line-height: 50px;
  }
}
