.main {
  @include outer-container();
  z-index: 10;

  @include media($breakpoint-small) {
    padding: 0 15px;
  }

  &.documentation-outer {
    padding-left: 250px;
    margin-left: auto;

    @include media($breakpoint-small) {
      padding: 10px 0 0;
    }
  }

  &::before {
    @include svg-bg(wrapper-graphic);
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    margin-top: -100px;
    height: 100px;
    background-size: cover;
    background-position: center bottom;

    @include media($breakpoint-small) {
      height: 50px;
      margin-top: -49px;
    }
  }
}
