@mixin rotateIcon($transition-time: 0.3s, $delay: 0s, $timing: $easeInOut, $iteration-count: 1, $direction: normal, $openClass: '.open', $color: #fff) {
  cursor: pointer;
  @include animate-object($transition-time, $delay, $timing);

  .menu-icon,
  &:before,
  &:after  {
    background: $color;
    content:'';
    display:block;
    height:3px;
    margin:6px 0;
    width:100%;
    border-radius: 4px;
  }

  #{$openClass} & {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
  }
}
